<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="./css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./fonts/material-icons.css">
    <link href="./css/ozTV.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper green">
                <a href="/" class="brand-logo">I.G_Codes</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="active" href="/dash">Home</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class='dropdown-trigger' href='#!' data-target='dropdown1'>{{user}}<i class="material-icons right">arrow_drop_down</i></a></li>
                    <!-- <li><a href="/gateway">Account</a></li> -->
                </ul>
            </div>
        </nav>
    </div>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/logout">Log out</a></li>
    </ul>
    <div class="container">
        <h1>Contact Us</h1>
    </div>
    <script src="./js/jquery-3.0.0.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="./js/file.js"></script>
</body>

</html>