 <div class="input-field">
                            <div class="row">
                                <div class="col s6 input-field">
                                    <input type="text" id="editUserFname" name="editUserFname" class="validate" required>
                                    <label for="editUserFname">Edit User's Firstname</label>
                                </div>
                
                                <div class="col s6 input-field">
                                    <input type="text" id="editUserLname" name="editUserLname" class="validate" required>
                                    <label for="editUserLname">Edit User's Lastname</label>
                                </div>
                
                                <div class="col s6 input-field">
                                    <input type="text" id="editUserUname" name="editUserUname" class="validate" required>
                                    <label for="editUserUname">Edit User's Username</label>
                                </div>
                                <div class="col s6 input-field">
                                    <input type="text" id="editUserUname" name="editUserUname" class="validate" required>
                                    <label for="editUserUname">Edit User's Username</label>
                                </div>
            
                                <input type="hidden" id="editUserId" name="editUserId">
            
                                
                            </div>
                        </div>